h1{
text-align: center;
padding: 15px;
border-radius: 20px;
color: rgb(61, 60, 60);
}
h2{
color: rgb(78, 76, 76);
text-align: left;
}
.container{
    background-position:center;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 10px ;
}
form {
background: rgba(49, 49, 49, 0.6);
padding: 20px;
border-radius: 10px;
color: white;
max-width: 600px;
margin: auto;
}
body{
    background-image: url("../imagenes/image.jpeg");
    background-size: cover;
    background-position: center;
}
label{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    position:right;
}
input {    
    width:100%;
    padding: 10px 2px;
    margin:auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    position:left;
}
button {
    width: 100%;
    padding: 12px;
    background: #9392e5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    }
button a{
    position:left;
    margin-top: 10px;
    text-decoration:none;
    color:white;
    }