<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
            <div class="mens"><p>Instalaciones limpias y seguras.<a href="/envia">Envía </a>tu declaración de salud.</p>
            </div>
            <div class="info">
            <div>📍 Calle 31 # 44 - 239 Palmira, Colombia</div>
            <div>📞 Teléfono: +57 3058164022</div>
            </div>
            <nav>
            <div class="menu">
                <div class="logo">
                    <img src="../static/imagenes/m2.jpg" alt="Logo">
                    <div class="logo-text">
                    <div class="logo-title">
                    <span class="verde">Agenda</span>
                    <span class="azul">médica</span>
                    </div>
                    <div class="logo-subtitle">
                    Tu salud, más cerca que nunca.
                    </div>
                    </div>
                </div>
                    <p><a href="/registro">REGISTRATE</a></p>
                    <p><a href="/inicio">INICIA SESIÓN</a></p>
                    <p><a href="/acerca">ACERCA DE</a></p>
                    <p><a href="/dep">DEPARTAMENTOS</a></p>
                    <p><a href="/seguros">SEGUROS</a></p>
                    <p><a href="/contactos">CONTACTOS</a></p>
            </div>
            </nav>
    </header>
    <main>
        <div class="services-container">
        <div class="service-card">
            <h3>Cita médica general</h3>
            <p>El área de Medicina General en Medic-Agenda es el primer paso hacia tu bienestar. Nuestros médicos realizan valoraciones completas, detección temprana de enfermedades, y orientación personalizada para mantener tu salud equilibrada.</p>
        </div>
        <div class="service-card">
            <h3>Neurología</h3>
            <p>El departamento de Neurología de Medic-Agenda ofrece diagnóstico y tratamiento para trastornos del sistema nervioso central y periférico, como migrañas, epilepsia, trastornos del sueño, entre otros. Nuestro equipo médico se enfoca en brindar acompañamiento cercano, atención personalizada y confianza en cada consulta.</p>
        </div>
        <div class="service-card">
            <h3>Ortopedia</h3>
            <p>Recupera tu movilidad y calidad de vida con la atención del departamento de Ortopedia de Medic-Agenda. Nos especializamos en el diagnóstico y tratamiento de lesiones musculares, óseas y articulares, brindando soluciones efectivas para tu recuperación.</p>
        </div>
    </div>
    </main>
    <footer>
        <div class="espa">
            <p> </p>
        </div>
        <div class="espa1"> 
            <p> Agenda tu cita en línea aquí </p>
            <a href="reservar.html">Reservar cita</a>
        </div>
        <div class="espa2"> 
            <p>2025 Creado por Medic-Agenda</p>
            <div class="term"><a href="/terminos">Terminos y Condiciones</a></div>
            <div class="polic"><a href="/politicas">Politica de privacidad</a></div>
            <div class="dire">📍 Calle 31 # 44 - 239 Palmira, Colombia</div>
            <div class="cont">📞 Teléfono: +57 3058164022</div>
        </div>
    </footer>
</body>
</html>