<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de datos</title>
    <link rel="stylesheet" href="../static/css/registro.css">
</head>
<body>
    <nav class="menú">
        <p><a href="/">PÁGINA PRINCIPAL</a></p>
        <p><a href="/acerca">ACERCA DE</a></p>
        <p><a href="/dep">DEPARTAMENTOS</a></p>
        <p><a href="/seguros">SEGUROS</a></p>
        <p><a href="/contactos">CONTACTOS</a></p>
    </nav>
    <h1>Registro</h1>
        <div class="container">  
        <h2>Completa el registro.</h2> 
        <div id="alerta" class="message"></div> 

        <form id="contactForm" action="/registro" method="POST">

            <label for="id_usuarios">Contraseña</label> 
            <input type="text" id="id_usuarios" name="id_usuarios" placeholder="Ingresa Contraseña" required>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingresa Nombre" required>

            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" placeholder="Ingresa Apellido" required>

            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" name="direccion" placeholder="Ingresa Dirección" required>

            <label for="telefono">Teléfono</label>
            <input type="text" id="telefono" name="telefono" placeholder="Ingresa Teléfono" required>

            <label for="correo_electronico">Correo Electrónico</label>
            <input type="text" id="correo_electronico" name="correo_electronico" placeholder="Ingresa Correo" required>

            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" name="mensaje" placeholder="Ingresa un Mensaje (No es Obligatorio)"></textarea>

            <button type="submit">Enviar</button>

            <p>¿Ya tienes una cuenta?</p>
            <p><a href="/inicio">Inicia Sesión.</a></p>

        </form>
    </div>
</body>
</html>