<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes de Seguros - Medic Agenda</title>
    <link rel="stylesheet" href="../static/css/seguro.css">
</head>
<body>
    <header>
            <div class="mens"><p>Instalaciones limpias y seguras.<a href="/envia">Envía </a>tu declaración de salud.</p>
            </div>
            <div class="info">
            <div>📍 Calle 31 # 44 - 239 Palmira, Colombia</div>
            <div>📞 Teléfono: +57 3058164022</div>
            </div>
            <nav>
            <div class="menu">
                <div class="logo">
                    <div class="logo-text">
                    <div class="logo-title">
                    <span class="verde">Medic</span>
                    <span class="azul">Agenda</span>
                    </div>
                    <div class="logo-subtitle">
                    Tu salud, más cerca que nunca.
                    </div>
                    </div>
                </div>
                    <p><a href="/">PÁGINA PRINCIPAL</a></p>
                    <p><a href="/acerca">ACERCA DE</a></p>
                    <p><a href="/dep">DEPARTAMENTOS</a></p>
                    <p><a href="/contactosR">CONTACTOS</a></p>
            </div>
            </nav>
    </header>
            <div class="h2">
                <ol>PLANES DE SALUD QUE ACEPTAMOS</ol>
            </div>

            <h2></h2>

            <div class="logos-container">
                <div class="logo-item"><img src="../static/imagenes/comfandi-logo.png" alt="Logo comfandi"></div>
                <div class="logo-item"><img src="../static/imagenes/Logo eps comfenalco.png" alt="Logo comfenalco"></div>
                <div class="logo-item"><img src="../static/imagenes/Logo nueva eps.png" alt="Logo Nueva EPS"></div>
                <div class="logo-item"><img src="../static/imagenes/logos sanitas.jpg" alt="Logo Sanitas"></div>
            </div>

            <h2></h2>

            <p class="contact-message">
                ¿No tienes ninguno de estos planes? 
                <a href="/contactosR" class="contact-link">Contáctanos</a> y encontraremos 
                la mejor solución para ti.
            </p>
        </section>
    </main>
    
    <h2></h2>

    <footer>
        <div class="espa2"> 
            <p>2025 Creado por Medic-Agenda</p>
            <div class="term"><a href="/terminos">Terminos y Condiciones</a></div>
            <div class="polic"><a href="/politicas">Politica de privacidad</a></div>
        </div>
    </footer>

</body>
</html>