<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes de Seguros - Medic Agenda</title>
    <link rel="stylesheet" href="../static/css/seguro.css">
</head>
<body>

    <nav class="main-navbar">
        
        <div class="top-bar">
            <div class="top-action-message">
                <span class="secure-message">Instalaciones limpias y seguras.</span>
                <span class="health-declaration-link">Envía tu declaración de salud</span>
            </div>
        </div>
        
        <div class="info-bar">
            <div class="info-bar-content">
                <div class="top-left-info">
                    <span class="icon location-icon">📍</span>
                    <span>Calle 31 # 44 - 239 Palmira, Colombia</span>
                </div>
                <div class="top-right-info">
                    <span class="icon phone-icon">📞</span>
                    <span>Tel: +57 305 8164022</span>
                </div>
            </div>
        </div>

        <div class="main-menu-bar">
            <div class="logo">
                <a href="/">
                    <span class="logo-text">Medic-Agenda</span>
                    <p class="tagline">Tu salud, más cerca que nunca.</p>
                </a>
            </div>
            
            <ul class="menú">
                <lo><a href="/">INICIO</a></lo>
                <lo><a href="/acerca">ACERCA DE</a></lo>
                <lo><a href="/departamentos">DEPARTAMENTOS</a></lo>
                <lo><a href="/contacto">CONTACTO</a></lo>
            </ul>
            
            <div class="account-dropdown">
                <span class="dropdown-icon">D</span>
                <span class="arrow-down">∨</span>
            </div>
        </div>
    </nav>
    
    <main>
        <div class="page-banner">
            <h1>Planes de seguros</h1>
        </div>
        <section class="insurance-plans-section">
            <h2>Planes de salud que aceptamos</h2>
            ../static/css/registro.css

            <div class="logos-container">
                <div class="logo-item"><img src="../static/imagenes/comfandi-logo.png" alt="Logo comfandi"></div>
                <div class="logo-item"><img src="../static/imagenes/Logo eps comfenalco.png" alt="Logo comfenalco"></div>
                <div class="logo-item"><img src="../static/imagenes/Logo nueva eps.png" alt="Logo Nueva EPS"></div>
                <div class="logo-item"><img src="../static/imagenes/logos sanitas.jpg" alt="Logo Sanitas"></div>
            </div>

            <p class="contact-message">
                ¿No tienes ninguno de estos planes? 
                <a href="contacto.html" class="contact-link">Contáctanos</a> y encontraremos 
                la mejor solución para ti.
            </p>
        </section>
    </main>
    
    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-left">
                <p>© 2025 Creado por Medic-Agenda</p>
                <p><span class="icon location-icon">📍</span> Calle 31 # 44 - 239 Palmira, Colombia</p>
            </div>
            
            <div class="footer-links">
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de Privacidad</a>
                <p><span class="icon phone-icon">📞</span> Tel: +57 305 8164022</p>
            </div>

            <div class="footer-social">
                <a href="#" class="social-icon">f</a>
                <a href="#" class="social-icon">t</a>
            </div>
        </div>
    </footer>

</body>
</html>